<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/element-ui/1.1.2/theme-default/index.css">
    <script src="//cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
    <script src="//cdn.bootcss.com/element-ui/1.1.2/index.js"></script>
    <script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
</head>
<body>
<div id="vm">
    <!--新增和编辑窗口-->
    <el-dialog title="编辑用户信息" v-model="dialogSaveVisible" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form id="#user" :model="user" :rules="rules" ref="user" label-width="100px">
            <el-form-item label="用户编码" prop="userCode">
                <el-input v-model="user.userCode"></el-input>
            </el-form-item>
            <el-form-item label="分组" prop="department">
                <el-select v-model="user.department" placeholder="请选择分组">
                    <el-option label="研发" value="研发"></el-option>
                    <el-option label="运维" value="运维"></el-option>
                    <el-option label="运营" value="运营"></el-option>
                    <el-option label="其他" value="其他"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="电话" prop="phone">
                <el-input v-model="user.phone"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="mail">
                <el-input v-model="user.mail"></el-input>
            </el-form-item>
            <el-form-item label="年龄" prop="age">
                <el-input v-model.number="user.age"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogSaveVisible = false">取 消</el-button>
            <el-button type="primary" :loading="saveLoading">确 定</el-button>
        </div>
    </el-dialog>
</div>
<script>
    var vm = new Vue({
        el: '#vm',
        data: {
            user: {
                userId: '',
                userCode: '',
                department: '',
                age: '',
                mail: '',
                phone: ''
            },
            rules: {},
            dialogSaveVisible: true,
            saveLoading: true
        },
        methods: {
            reset: function () {
                this.$refs.user.resetFields();
            }
        }
    });
</script>
</body>
</html>